<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.labdealers.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IgorServlet</servlet-name>
        <servlet-class>com.labdealers.controller.IgorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenisServlet</servlet-name>
        <servlet-class>com.labdealers.controller.DenisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YaroslaveServlet</servlet-name>
        <servlet-class>com.labdealers.controller.YaroslaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IgorServlet</servlet-name>
        <url-pattern>/igor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenisServlet</servlet-name>
        <url-pattern>/denis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YaroslaveServlet</servlet-name>
        <url-pattern>/yaroslave</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
